{% extends "base.html" %}

{% block title %}{{ robot_name }}{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="no">
<head>
<div id="loadingSpinner" class="d-none text-center">
    <div class="spinner-border text-light" role="status">
        <span class="sr-only">Replanlegger ...</span>
    </div>
    <p class="text-light mt-2">Replanlegger ...</p>
</div>
<div class="modal fade" id="replanModal" tabindex="-1" role="dialog" aria-labelledby="replanModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content" style="background-color: #333; color: #fff;">
        <div class="modal-header">
          <h5 class="modal-title" id="replanModalLabel">Replanlegg Oppdrag</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Lukk">
            <span aria-hidden="true" style="color: #aaa;">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <h6>Oppdrags-ID: 12345 Oppdragsnavn: Maintenance level 1</h6>
              <p>Status: Nåværende oppdrag</p>
              <ul>
                <li>DriveToPose Electrisk boks</li>
                <li>TakeImage of Elekstrisk boks</li>
                <li>DriveToPose Svitsj</li>
                <li>TakeImage of Svitsj</li>
                <li>DriveToPose Valve 1</li>
                <li>ListenTo Valve 1</li>
                <li>DriveToPose Base</li>
                <img src="{{ url_for('static', filename='current_mission.jpg') }}" alt="Nåværende Oppdrag" class="img-fluid mb-3">
              </ul>
            </div>
            <div class="col-md-6">
              <h6>Forslag til Replanlagt Oppdrag</h6>
              <p>Status: Venter på gjennomgang</p>
              <ul>
                <li>DriveToPose Valve 1</li>
                <li>ListenTo Valve 1</li>
                <li>DriveToPose Electrisk boks</li>
                <li>TakeImage of Elekstrisk boks</li>
                <li>DriveToPose Svitsj</li>
                <li>TakeImage of Svitsj</li>
                <li>DriveToPose Base</li>
                <img src="{{ url_for('static', filename='replan_mission.jpg') }}" alt="Replanlagt Oppdrag" class="img-fluid mb-3">
              </ul>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" id="acceptNewPlan">Aksepter ny plan</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Avbryt</button>
        </div>
      </div>
    </div>
  </div>
<div class="modal fade" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="statusModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="statusModalLabel">Oppdragsstatus</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Lukk">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="statusMessage">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Lukk</button>
            </div>
        </div>
    </div>
</div>

<body>
    <div class="container-fluid">
        <div class="row">
            <button class="btn btn-primary d-md-none" onclick="openNav()">
                <i class="fas fa-bars"></i>
            </button>
            <nav id="mySidebar" class="sidebar">
                <a href="javascript:void(0)" class="closebtn d-md-none" onclick="closeNav()">&times;</a>
                <ul class="nav flex-column">
                    <li class="nav-item logo-item">
                        <img src="{{ url_for('static', filename='Logo.png') }}" alt="Logo" class="logo">
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.index') }}"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('robot_fleet.robot_fleet') }}"><i class="fas fa-ship"></i> Flåteoversikt</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('missions.missions') }}"><i class="fas fa-briefcase"></i> Oppdrag</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('history.history') }}"><i class="fas fa-history"></i> Historikk</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('notifications.notifications') }}">
                        <i class="fas fa-bell"></i> Notifikasjoner
                        {% if unread_count > 0 %}
                            <span class="unread-count">{{ unread_count }}</span>
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('settings.settings') }}"><i class="fas fa-cog"></i> Innstillinger</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.logout') }}"><i class="fas fa-sign-out-alt"></i> Logg Ut</a>
                </li>                                   
            </ul>
        </nav>
        <main role="main" class="col-md-10 ml-sm-auto col-lg-10 px-4 py-4">
            <h2 id="robot-name-header" class="mb-4">Robotstatus</h2>
            <div id="robot-container" class="mb-4"></div>
            
            <div class="card mb-4" style="max-width: 700px; margin-left: 10px;">
                <div class="card-header">Oppdragskontroller</div>
                <div class="card-body d-flex justify-content-around flex-wrap">
                    <button class="btn btn-primary mb-2" id="resume">Fortsett oppdrag</button>
                    <button class="btn btn-primary mb-2" id="pause">Pause oppdrag</button>
                    <button class="btn btn-danger mb-2" id="stop">Stopp oppdrag</button>
                    <button class="btn btn-secondary mb-2" id="replan">Replanlegg oppdrag</button>
                </div>
            </div>
            
            <div class="card" style="max-width: 700px; margin-left:10px;">
                <div class="card-header">Fullførte Oppdrag</div>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table table-dark">
                            <thead>
                                <tr>
                                    <th>Oppdragsnavn</th>
                                    <th>Tid Fullført</th>
                                </tr>
                            </thead>
                            <tbody id="completed-missions">
                            </tbody>                                    
                        </table>
                    </div>
                </div>
            </div>
            
            
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">Robotposisjon</div>
                    <div class="card-body p-0">
                        <div id="map" style="position: relative; width: 100%; height: 600px; background-image: url('/static/Facility_map.png'); background-size: cover; background-position: center;"></div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Henter valgt robot sin isarId
        const isarId = "{{ isar_id }}";

        // Henter informasjon om roboten fra serveren
        fetch(`/api/robot_info/${isarId}`)
            .then(response => response.json())
            .then(robotData => {
                if (robotData.error) {
                    console.error(robotData.error);
                    return;
                }

                // Logger feil hvis port ikke er definert for roboten
                if (!robotData.port) {
                    console.error('Port is not defined for the robot:', robotData);
                    return;
                }

                // Oppretter visning/kort av roboten med dataene som ble hentet
                createRobotCard(robotData.isar_id, robotData.robot_name, robotData);

                // CSRF-token fra skjemaet
                const csrfToken = document.querySelector('input[name="csrf_token"]').value;

                document.getElementById('stop').addEventListener('click', function() {
                    handleMissionControl(`/api/robot/${isarId}/stop`, 'Oppdrag stoppet vellykket.', csrfToken);
                });

                document.getElementById('pause').addEventListener('click', function() {
                    handleMissionControl(`/api/robot/${isarId}/pause`, 'Oppdraget er satt på pause.', csrfToken);
                });

                document.getElementById('resume').addEventListener('click', function() {
                    handleMissionControl(`/api/robot/${isarId}/resume`, 'Oppdraget fortsetter.', csrfToken);
                });
            })
            .catch(error => {
                console.error('Error fetching robot info:', error);
            });

        // Socket.IO-tilkobling
        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

        // Håndterer oppdatering av robotens heartbeat
        socket.on('update_robot_heartbeat', function(msg) {
            const data = JSON.parse(msg.data);
            if (msg.isar_id === isarId) {
                localStorage.setItem(`robot_heartbeat_${isarId}`, JSON.stringify(data));
                updateRobotCard(isarId, 'heartbeat', data);
            }
        });

        // Håndterer oppdatering av robotens status
        socket.on('update_robot_status', function(msg) {
            const data = JSON.parse(msg.data);
            if (msg.isar_id === isarId) {
                localStorage.setItem(`robot_status_${isarId}`, JSON.stringify(data));
                updateRobotCard(isarId, 'status', data);
            }
        });

        // Håndter oppdatering av robotens batterinivå
        socket.on('update_battery', function(msg) {
            const data = JSON.parse(msg.data);
            if (msg.isar_id === isarId) {
                localStorage.setItem(`robot_battery_${isarId}`, JSON.stringify(data));
                updateRobotCard(isarId, 'battery', data);
            }
        });

        // Håndterer fjerning av robot
        socket.on('remove_robot_card', function(msg) {
            const isarId = msg.isar_id;
            if (isarId === isarId) {
                const robotCard = document.getElementById(`robot_card_${isarId}`);
                if (robotCard) {
                    robotCard.remove();
                }
            }
        });

        // Håndterer oppdatering av robotens posisjon
        socket.on('update_pose', function(msg) {
            const data = JSON.parse(msg.data);
            if (data.pose && data.pose.position) {
                const position = data.pose.position;
                updateRobotPosition(data.isar_id, data.robot_name, position.x, position.y, position.z);
            } else {
                console.error('Pose eller position er undefined', data);
            }
        });

        // Oppdaterer robotens posisjon på kartet
        function updateRobotPosition(isarId, robotName, x, y, z) {
            var map = document.getElementById('map');

            var robotMapElement = document.getElementById(`robot-map-${isarId}`);
            var robotNameElement = document.getElementById(`robot-name-${isarId}`);

            if (!robotMapElement) {
                // Oppretter et nytt bildeelement for roboten på kartet
                robotMapElement = document.createElement('img');
                robotMapElement.id = `robot-map-${isarId}`;
                robotMapElement.src = '/static/robot.png';
                robotMapElement.style.position = 'absolute';
                robotMapElement.style.width = '40px';
                robotMapElement.style.height = '40px';
                map.appendChild(robotMapElement);

                // Oppretter et nytt element for robotens navn
                robotNameElement = document.createElement('div');
                robotNameElement.id = `robot-name-${isarId}`;
                robotNameElement.style.position = 'absolute';
                robotNameElement.style.whiteSpace = 'nowrap';
                robotNameElement.style.color = 'black';
                robotNameElement.style.fontSize = '12px';
                robotNameElement.style.backgroundColor = 'white';
                robotNameElement.style.padding = '2px 5px';
                robotNameElement.style.borderRadius = '4px';
                map.appendChild(robotNameElement);
            }

            // Beregner posisjonen til roboten på kartet
            var xPos = (x / 10) * 514;
            var yPos = (y / 10) * 472;

            robotMapElement.style.left = `${xPos - robotMapElement.width / 2}px`;
            robotMapElement.style.top = `${yPos - robotMapElement.height / 2}px`;

            // Oppdaterer robotens navn og posisjon
            robotNameElement.innerHTML = robotName;
            robotNameElement.style.left = `${xPos - 5}px`;
            robotNameElement.style.top = `${yPos + 15}px`;
        }

        // Oppdaterer robotkortet med ny informasjon
        function updateRobotCard(isarId, infoType, data) {
            let robotCard = document.getElementById(`robot_card_${isarId}`);
            if (!robotCard) {
                createRobotCard(isarId, data.robot_name, data);
                robotCard = document.getElementById(`robot_card_${isarId}`);
            }

            const statusElement = robotCard.querySelector('.status');
            const batteryElement = robotCard.querySelector('.progress-bar');
            const taskElement = robotCard.querySelector('.task');

            const batteryData = JSON.parse(localStorage.getItem(`robot_battery_${isarId}`)) || {};
            const batteryLevel = data.battery_level !== undefined ? data.battery_level : (batteryData.battery_level || 0);

            if (infoType === 'status' || infoType === 'battery') {
                const statusText = translateStatus(data.robot_status, batteryLevel);
                statusElement.textContent = `Status: ${statusText}`;
                statusElement.classList.remove('text-success', 'text-warning', 'text-warning');

                if (statusText === 'Tilgjengelig') {
                    statusElement.classList.add('text-success');
                } else if (statusText === 'Opptatt i et oppdrag') {
                    statusElement.classList.add('text-warning');
                } else if (statusText === 'Ikke tilgjengelig (Må lades før oppdrag)') {
                    statusElement.classList.add('text-warning');
                }

                if (infoType === 'battery') {
                    batteryElement.style.width = `${batteryLevel}%`;
                    batteryElement.textContent = `${batteryLevel}% Batteri`;
                }

                taskElement.textContent = `Gjeldende oppgave: ${data.current_mission_id || 'Ingen'}`;
            }

            if (infoType === 'heartbeat') {
                const lastContactElement = robotCard.querySelector('.heartbeat');
                const formattedDate = formatDate(data.timestamp);
                lastContactElement.textContent = `Siste signal: ${formattedDate}`;
            }
        }

        // Oversetter robotstatus fra engelsk til norsk
        function translateStatus(status, batteryLevel) {
            if (status === "available" && batteryLevel >= 60) {
                return "Tilgjengelig";
            } else if (status === "busy") {
                return "Opptatt i et oppdrag";
            } else if (batteryLevel < 60) {
                return "Ikke tilgjengelig (Må lades før oppdrag)";
            } else {
                return "Tilgjengelig";
            }
        }

        // Formaterer timestamp til mer lesbar dato og tid
        function formatDate(timestamp) {
            const utcDate = new Date(timestamp);
            const localDate = new Date(utcDate.getTime() + (4 * 60 * 60 * 1000));
            const options = {
                year: 'numeric', month: 'short', day: 'numeric',
                hour: '2-digit', minute: '2-digit', second: '2-digit',
                hour12: false,
                timeZone: 'UTC'
            };
            return localDate.toLocaleString('no-NO', options);
        }

        // Oppretter en ny visning for en robot (nytt kort)
        function createRobotCard(isarId, robotName, robotInfo) {
            const container = document.getElementById('robot-container');
            const cardHtml = `
                <div class="col-md-4">
                    <div class="card robot-card" id="robot_card_${isarId}">
                        <div class="card-body">
                            <img src="{{ url_for('static', filename='turtlebotPi.jpg') }}" alt="Robot Image">
                            <h5 class="robot-name">${robotName || 'Ukjent'}</h5>
                            <p class="status ${getStatusClass(robotInfo.robot_status, robotInfo.battery_level)}">Status: ${translateStatus(robotInfo.robot_status, robotInfo.battery_level)}</p>
                            <p class="task">Gjeldende oppgave: ${robotInfo.current_mission_id || 'Ingen'}</p>
                            <p class="heartbeat">Siste signal: </p> <!-- heartbeat vil bli oppdatert av MQTT -->
                            <div class="progress">
                                <div class="progress-bar" style="width: ${robotInfo.battery_level || 0}%; height: 100%">${robotInfo.battery_level || 0}% Batteri</div>
                            </div>
                            <form method="post" id="missionControlForm">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            </form>
                        </div>
                    </div>
                </div>`;
            container.insertAdjacentHTML('beforeend', cardHtml);
            return document.getElementById(`robot_card_${isarId}`);
        }

        // Henter CSS-klassen basert på status og batterinivå
        function getStatusClass(status, batteryLevel) {
            if (status === "available" && batteryLevel >= 60) {
                return "text-success";
            } else if (status === "busy") {
                return "text-warning";
            } else if (batteryLevel < 60 && status !== "busy") {
                return "text-warning";
            } else {
                return "";
            }
        }

        // Håndterer kontroll av oppdrag (stopp, pause, fortsett)
        function handleMissionControl(url, successMessage, csrfToken) {
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.message) {
                    showModal(data.message);
                } else {
                    showModal(successMessage);
                }
            })
            .catch(error => {
                console.error('Error:', error);
                showModal('Nettverksfeil: Kunne ikke kommunisere med serveren.');
            });
        }

        function showModal(message) {
            document.getElementById('statusMessage').innerText = message;
            $('#statusModal').modal('show');
        }

        document.getElementById('replan').addEventListener('click', function() {
            document.getElementById('loadingSpinner').classList.remove('d-none');

            setTimeout(function() {
                $('#replanModal').modal('show');
                document.getElementById('loadingSpinner').classList.add('d-none');
            }, 2000);
        });

        document.getElementById('acceptNewPlan').addEventListener('click', function() {
            $('#replanModal').modal('hide'); 
            document.getElementById('loadingSpinner').innerHTML = `
                <div class="alert alert-success" role="alert">
                    Ny plan satt i gang!
                </div>
            `;
            document.getElementById('loadingSpinner').classList.remove('d-none');
            setTimeout(function() {
                document.getElementById('loadingSpinner').classList.add('d-none');
            }, 4000);
        });

        // Legger til hardkodet fullførte oppdrag til tabellen
        const completedMissionsData = [
            { missionName: "Maintenance level 1", completedAt: "2024-04-01 12:00"},
            { missionName: "Maintenance level 2", completedAt: "2024-04-02 13:00"},
        ];

        const tbody = document.getElementById('completed-missions');
        completedMissionsData.forEach(mission => {
            const tr = document.createElement('tr');
            tr.innerHTML = `<td>${mission.missionName}</td><td>${mission.completedAt}</td>`;
            tbody.appendChild(tr);
        });
    });

    // Åpner sidemenyen for mindre skjermer
    function openNav() {
        document.getElementById("mySidebar").classList.add('show');
    }

    // Lukker sidemenyen for mindre skjermer
    function closeNav() {
        document.getElementById("mySidebar").classList.remove('show');
    }
</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
{% endblock %}