{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="no">
<head>
<body>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block sidebar">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.home') }}"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#"><i class="fas fa-ship"></i> Flåteoversikt</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('missions.missions') }}"><i class="fas fa-briefcase"></i> Oppdrag</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('history.history') }}"><i class="fas fa-history"></i> Historikk</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('notifications.notifications') }}">
                            <i class="fas fa-bell"></i> Notifikasjoner
                            {% if unread_count > 0 %}
                                <span class="unread-count">{{ unread_count }}</span>
                            {% endif %}
                        </a>                     
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('settings.settings') }}"><i class="fas fa-cog"></i> Innstillinger</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/"><i class="fas fa-sign-out-alt"></i> Logg Ut</a>
                    </li>                                     
                </ul>
            </nav>
            <main role="main" class="col-md-10 ml-sm-auto col-lg-10 px-4">
                <br><br>
                <h2>Flåteoversikt</h2>
                <div class="row" id="robot-container">
                </div>
            </main>
        </div>
    </div>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const robotIds = ["00000000-0000-0000-0000-000000000000"];
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

            socket.on('update_robot_heartbeat', function(msg) {
                const data = JSON.parse(msg.data);
                const isarId = msg.isar_id;
                localStorage.setItem(`robot_heartbeat_${isarId}`, JSON.stringify(data));
                updateOrCreateRobotCard(isarId, 'heartbeat', data);
            });


            socket.on('update_robot_status', function(msg) {
                const data = JSON.parse(msg.data);
                const isarId = msg.isar_id;
                localStorage.setItem(`robot_status_${isarId}`, JSON.stringify(data));
                updateOrCreateRobotCard(isarId, 'status', data);
            });

            socket.on('update_battery', function(msg) {
                const data = JSON.parse(msg.data);
                const isarId = msg.isar_id;
                localStorage.setItem(`robot_battery_${isarId}`, JSON.stringify(data));
                updateOrCreateRobotCard(isarId, 'battery', data);
            });

            robotIds.forEach(isarId => {
                const robotStatusData = localStorage.getItem(`robot_status_${isarId}`);
                const robotBatteryData = localStorage.getItem(`robot_battery_${isarId}`);
                if (robotStatusData) {
                    updateOrCreateRobotCard(isarId, 'status', JSON.parse(robotStatusData));
                }
                if (robotBatteryData) {
                    updateOrCreateRobotCard(isarId, 'battery', JSON.parse(robotBatteryData));
                }
            });

            function updateOrCreateRobotCard(isarId, infoType, data) {
                let robotCard = document.getElementById(`robot_card_${isarId}`);
                if (!robotCard) {
                    robotCard = createRobotCard(isarId, data.robot_name, data.timestamp);
                }

                if (infoType === 'status') {
                    const statusElement = robotCard.querySelector('.status');
                    statusElement.textContent = `Status: ${data.robot_status}`;
                    const taskElement = robotCard.querySelector('.task');
                    taskElement.textContent = `Gjeldende oppgave: ${data.current_mission_id || 'Ingen'}`;
                } else if (infoType === 'battery') {
                    const batteryElement = robotCard.querySelector('.progress-bar');
                    batteryElement.style.width = `${data.battery_level}%`;
                    batteryElement.textContent = `${data.battery_level}% Batteri`;
                } else if (infoType === 'heartbeat') {
                    const heartbeatElement = robotCard.querySelector('.heartbeat');
                    heartbeatElement.textContent = `Heartbeat: ${data.timestamp}`;
                }
            }


            function createRobotCard(isarId, robotName, heartbeat) {
                const container = document.getElementById('robot-container');
                const cardHtml = `
                    <div class="col-md-4">
                        <div class="card robot-card" id="robot_card_${isarId}">
                            <div class="card-body">
                                <img src="static/turtlebotPi.jpg" alt="Robot Image">
                                <h5 class="robot-name">${robotName || 'Ukjent'}</h5>
                                <p class="status">Status: Ukjent</p>
                                <p class="task">Gjeldende oppgave: Ingen</p>
                                <p class="heartbeat">Siste hjerteslag: ${heartbeat || 'Ingen'}</p>
                                <div class="progress">
                                    <div class="progress-bar" style="width: 0%; height: 100%">0% Batteri</div>
                                </div>
                                <a href="/robot_status/${isarId}" class="btn-detail">Detaljer →</a>
                            </div>
                        </div>
                    </div>`;
                container.insertAdjacentHTML('beforeend', cardHtml);
                return document.getElementById(`robot_card_${isarId}`);
            }

        });
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>

{% endblock %}
