{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="no">
<head>
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.css' rel='stylesheet' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/locales-all.min.js'></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <button class="btn btn-primary d-md-none" onclick="openNav()">
                <i class="fas fa-bars"></i>
            </button>
            <nav id="mySidebar" class="sidebar">
                <a href="javascript:void(0)" class="closebtn d-md-none" onclick="closeNav()">&times;</a>
                <ul class="nav flex-column">
                    <li class="nav-item logo-item">
                        <img src="{{ url_for('static', filename='Logo.png') }}" alt="Logo" class="logo">
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('robot_fleet.robot_fleet') }}"><i class="fas fa-ship"></i> Flåteoversikt</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('missions.missions') }}"><i class="fas fa-briefcase"></i> Oppdrag</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('history.history') }}"><i class="fas fa-history"></i> Historikk</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('notifications.notifications') }}">
                            <i class="fas fa-bell"></i> Notifikasjoner
                            {% if unread_count > 0 %}
                                <span class="unread-count">{{ unread_count }}</span>
                            {% endif %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('settings.settings') }}"><i class="fas fa-cog"></i> Innstillinger</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.logout') }}"><i class="fas fa-sign-out-alt"></i> Logg Ut</a>
                    </li>                    
                </ul>
            </nav>
            <main role="main" class="col-md-10 ml-sm-auto col-lg-10 px-4">
                <br><br>
                <h1>Velkommen, {{ user.Username }}</h1>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                Oppdrag
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><span id="active-missions-count">0</span> aktive oppdrag</h5>
                                <div id="active-missions">
                                </div>
                            </div>
                        </div>
                        <div id='calendar'></div>
                        <div class="legend">
                            <div class="legend-item">
                                <span></span> Siste frist for å utføre oppdraget
                            </div>
                        </div>
                        <div id="eventList" class="card">
                            <div class="card-header">
                                Oppdrag med frist denne dagen
                            </div>
                            <div class="card-body">
                                <ul id="eventListItems"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                Anleggsoversikt
                            </div>
                            <div class="card-body">
                                <div id="robot-positions-container"></div>
                                <div id="map" style="position: relative; width: 842px; height: 851px; background-image: url('/static/Facility_map.png');"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
            var activeMissions = {};
            var startTime = {
                'Placebot': 10 * 61,
                'Placebot2': 45 * 62,
                'Placebot3': 36 * 64 
            };

            // Oppdaterer kjøretiden for hver robot hvert sekund
            setInterval(function() {
                Object.keys(startTime).forEach(function(robot) {
                    var timeElement = document.getElementById(robot + '-time');
                    if (timeElement) {
                        startTime[robot] += 1;
                        var minutes = Math.floor(startTime[robot] / 60);
                        var seconds = startTime[robot] % 60;
                        timeElement.innerHTML = 'Tid kjørt: ' + minutes + ' min ' + seconds + ' sek';
                    }
                });
            }, 1000);

            // Lytter etter oppdateringer av robotens heartbeat
            socket.on('update_robot_heartbeat', function(msg) {
                const data = JSON.parse(msg.data);
                const robotName = data.robot_name;
                const heartbeat = data.timestamp;
                updateRobotInfo(robotName, heartbeat);
            });

            // Lytter etter oppdateringer av robotens posisjon
            socket.on('update_pose', function(msg) {
                const data = JSON.parse(msg.data);
                
                if(data.pose && data.pose.position) {
                    const position = data.pose.position;
                    updateRobotPosition(data.isar_id, data.robot_name, position.x, position.y, position.z);
                } else {
                    console.error('Pose eller position er undefined', data);
                }
            });

            // Lytter etter oppdateringer av robotens status
            socket.on('update_robot_status', function(msg) {
                const data = JSON.parse(msg.data);
                const isarId = msg.isar_id;
                const robotStatus = data.robot_status;
                const currentMission = data.current_mission_id;

                updateMissionCard(isarId, data.robot_name, robotStatus, currentMission);
            });

            // Oppdaterer informasjon om pågående oppdrag
            function updateMissionCard(isarId, robotName, robotStatus, currentMission) {
                const missionContainer = document.getElementById('active-missions');
                let missionCard = document.getElementById(`mission_${isarId}`);
                
                if (!missionCard && robotStatus === 'busy') {
                    missionCard = document.createElement('div');
                    missionCard.className = 'mission-card';
                    missionCard.id = `mission_${isarId}`;
                    missionContainer.appendChild(missionCard);
                }

                if (robotStatus === 'busy') {
                    missionCard.innerHTML = `
                        <img src="/static/ROBOT.jpg" alt="Robot Image">
                        <div class="robot-name">${robotName}</div>
                        <div class="current-mission">${currentMission}</div>
                        <div class="timer" id="Mission-${isarId}-time">Tid kjørt: 0 min 0 sek</div>
                    `;
                    startMissionTimer(isarId);
                    activeMissions[isarId] = true;
                } else {
                    if (missionCard) {
                        missionCard.remove();
                    }
                    delete activeMissions[isarId];
                }

                document.getElementById('active-missions-count').textContent = Object.keys(activeMissions).length;
            }

            // Starter en timer for å vise hvor lenge et oppdrag har pågått
            function startMissionTimer(missionId) {
                if (!startTime[missionId]) {
                    startTime[missionId] = 0;
                }

                setInterval(function() {
                    const timeElement = document.getElementById(`Mission-${missionId}-time`);
                    if (timeElement) {
                        startTime[missionId] += 1;
                        const minutes = Math.floor(startTime[missionId] / 60);
                        const seconds = startTime[missionId] % 60;
                        timeElement.innerHTML = 'Tid kjørt: ' + minutes + ' min ' + seconds + ' sek';
                    }
                }, 1000);
            }

            // Oppdaterer robotens posisjon på kartet
            function updateRobotPosition(isarId, robotName, x, y, z) {
                var map = document.getElementById('map');

                var robotMapElement = document.getElementById(`robot-map-${isarId}`);
                var robotNameElement = document.getElementById(`robot-name-${isarId}`);

                if (!robotMapElement) {
                    robotMapElement = document.createElement('img');
                    robotMapElement.id = `robot-map-${isarId}`;
                    robotMapElement.src = '/static/robot_overview.png';
                    robotMapElement.style.position = 'absolute';
                    robotMapElement.style.width = '40px';
                    robotMapElement.style.height = '40px';
                    map.appendChild(robotMapElement);

                    robotNameElement = document.createElement('div');
                    robotNameElement.id = `robot-name-${isarId}`;
                    robotNameElement.style.position = 'absolute';
                    robotNameElement.style.whiteSpace = 'nowrap';
                    robotNameElement.style.color = 'black';
                    robotNameElement.style.fontSize = '12px';
                    robotNameElement.style.backgroundColor = 'white';
                    robotNameElement.style.padding = '2px 5px';
                    robotNameElement.style.borderRadius = '4px';
                    map.appendChild(robotNameElement);
                }

                var xPos = (x / 10) * 514;
                var yPos = (y / 10) * 472;

                robotMapElement.style.left = `${xPos - robotMapElement.width / 2}px`;
                robotMapElement.style.top = `${yPos - robotMapElement.height / 2}px`;

                robotNameElement.innerHTML = robotName;
                robotNameElement.style.left = `${xPos - 5}px`;
                robotNameElement.style.top = `${yPos + 15}px`;
            }

            function updateRobotInfo(robotName, heartbeat) {
                var infoElement = document.getElementById('robot-info');
                infoElement.innerHTML = 'Robot: ' + robotName + '<br>' + 'Hjerteslag: ' + heartbeat;
            }

            // Initialiserer FullCalendar for å vise oppdrag som har en satt frist
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                locale: 'no',
                height: 'auto',
                events: [
                    {% for mission in missions %}
                    {
                        title: '{{ mission.MissionName }}',
                        start: '{{ mission.Deadline }}'
                    },
                    {% endfor %}
                ],
                dateClick: function(info) {
                    var events = calendar.getEvents().filter(event => {
                        return event.start.toISOString().split('T')[0] === info.dateStr;
                    });

                    var eventList = document.getElementById('eventList');
                    var eventListItems = document.getElementById('eventListItems');
                    eventListItems.innerHTML = '';

                    if (events.length > 0) {
                        var primaryEvent = events[0];
                        var listItem = document.createElement('li');
                        listItem.textContent = primaryEvent.title + ' ' + primaryEvent.start.toTimeString().split(' ')[0];
                        eventListItems.appendChild(listItem);

                        eventList.style.display = 'block';
                    } else {
                        eventList.style.display = 'none';
                    }
                },
                eventClick: function(info) {
                    var events = calendar.getEvents().filter(event => {
                        return event.start.toISOString().split('T')[0] === info.event.start.toISOString().split('T')[0];
                    });

                    var eventList = document.getElementById('eventList');
                    var eventListItems = document.getElementById('eventListItems');
                    eventListItems.innerHTML = '';

                    if (events.length > 0) {
                        events.forEach(event => {
                            var listItem = document.createElement('li');
                            listItem.textContent = event.title + ' ' + event.start.toTimeString().split(' ')[0];
                            eventListItems.appendChild(listItem);
                        });

                        eventList.style.display = 'block';
                    } else {
                        eventList.style.display = 'none';
                    }
                    document.querySelector('#eventList .card-header').textContent = 'Oppdrag med frist ' + info.event.start.toISOString().split('T')[0] + ':';
                },
            });
            calendar.render();
        });

        function openNav() {
            document.getElementById("mySidebar").classList.add('show');
        }

        function closeNav() {
            document.getElementById("mySidebar").classList.remove('show');
        }
    </script>
</body>
</html>
{% endblock %}
