{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="no">
<head>
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.css' rel='stylesheet' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/locales-all.min.js'></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block sidebar">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('robot_fleet.robot_fleet') }}"><i class="fas fa-ship"></i> Flåteoversikt</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('missions.missions') }}"><i class="fas fa-briefcase"></i> Oppdrag</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('history.history') }}"><i class="fas fa-history"></i> Historikk</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('notifications.notifications') }}">
                            <i class="fas fa-bell"></i> Notifikasjoner
                            {% if unread_count > 0 %}
                                <span class="unread-count">{{ unread_count }}</span>
                            {% endif %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('settings.settings') }}"><i class="fas fa-cog"></i> Innstillinger</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/"><i class="fas fa-sign-out-alt"></i> Logg Ut</a>
                    </li>
                </ul>
            </nav>
            <main role="main" class="col-md-10 ml-sm-auto col-lg-10 px-4">
                <br><br>
                <h1>Velkommen, {{ user.Username }}</h1>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                Oppdrag
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">3 aktive oppdrag</h5>
                                <div class="oppdrag-liste">
                                    <div class="oppdrag">
                                        <div class="oppdrag-kolonne"><i class="fas fa-robot"></i> Placebot</div>
                                        <div class="oppdrag-kolonne">Maintenance level 1</div>
                                        <div class="oppdrag-kolonne" id="Placebot-time">Tid kjørt: 10 min 10 sek</div>
                                    </div>                                    
                                    <div class="oppdrag">
                                        <div class="oppdrag-kolonne"><i class="fas fa-robot"></i> Placebot2</div>
                                        <div class="oppdrag-kolonne">Base test</div>
                                        <div class="oppdrag-kolonne" id="Placebot2-time">Tid kjørt: 46 min 30 sek</div>
                                    </div>
                                    <div class="oppdrag">
                                        <div class="oppdrag-kolonne"><i class="fas fa-robot"></i> Placebot3</div>
                                        <div class="oppdrag-kolonne">Maintenance level 2</div>
                                        <div class="oppdrag-kolonne" id="Placebot3-time">Tid kjørt: 38 min 24 sek</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div id='calendar'></div>
                        <div class="legend">
                            <div class="legend-item">
                                <span></span> Siste frist for å utføre oppdraget
                            </div>
                        </div>
                        <div id="eventList" class="card">
                            <div class="card-header">
                                Oppdrag med frist denne dagen
                            </div>
                            <div class="card-body">
                                <ul id="eventListItems"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                Anleggsoversikt
                            </div>
                            <div class="card-body">
                                <div id="robot-positions-container"></div>
                                <div id="map" style="position: relative; width: 842px; height: 851px; background-image: url('/static/Facility_map.png');"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
            var activeMissions = {};
            var startTime = {
                'Placebot': 10 * 61,
                'Placebot2': 45 * 62,
                'Placebot3': 36 * 64 
            };

            setInterval(function() {
                Object.keys(startTime).forEach(function(robot) {
                    var timeElement = document.getElementById(robot + '-time');
                    if (timeElement) {
                        startTime[robot] += 1;
                        var minutes = Math.floor(startTime[robot] / 60);
                        var seconds = startTime[robot] % 60;
                        timeElement.innerHTML = 'Tid kjørt: ' + minutes + ' min ' + seconds + ' sek';
                    }
                });
            }, 1000);

            socket.on('update_robot_heartbeat', function(msg) {
                const data = JSON.parse(msg.data);
                const robotName = data.robot_name;
                const heartbeat = data.timestamp;
                updateRobotInfo(robotName, heartbeat);
            });

            socket.on('update_pose', function(msg) {
                const data = JSON.parse(msg.data);
                
                if(data.pose && data.pose.position) {
                    const position = data.pose.position;
                    updateRobotPosition(data.isar_id, data.robot_name, position.x, position.y, position.z);
                } else {
                    console.error('Pose eller position er undefined', data);
                }
            });


            function updateRobotPosition(isarId, robotName, x, y, z) {
                var map = document.getElementById('map');

                var robotMapElement = document.getElementById(`robot-map-${isarId}`);
                var robotNameElement = document.getElementById(`robot-name-${isarId}`);

                if (!robotMapElement) {
                    robotMapElement = document.createElement('img');
                    robotMapElement.id = `robot-map-${isarId}`;
                    robotMapElement.src = '/static/robot.png';
                    robotMapElement.style.position = 'absolute';
                    robotMapElement.style.width = '40px';
                    robotMapElement.style.height = '40px';
                    map.appendChild(robotMapElement);

                    robotNameElement = document.createElement('div');
                    robotNameElement.id = `robot-name-${isarId}`;
                    robotNameElement.style.position = 'absolute';
                    robotNameElement.style.whiteSpace = 'nowrap';
                    robotNameElement.style.color = 'black';
                    robotNameElement.style.fontSize = '12px';
                    robotNameElement.style.backgroundColor = 'white';
                    robotNameElement.style.padding = '2px 5px';
                    robotNameElement.style.borderRadius = '4px';
                    map.appendChild(robotNameElement);
                }

                var xPos = (x / 10) * 514;
                var yPos = (y / 10) * 472;

                robotMapElement.style.left = `${xPos - robotMapElement.width / 2}px`;
                robotMapElement.style.top = `${yPos - robotMapElement.height / 2}px`;

                robotNameElement.innerHTML = robotName;
                robotNameElement.style.left = `${xPos - 5}px`;
                robotNameElement.style.top = `${yPos + 15}px`;
            }

            function updateRobotInfo(robotName, heartbeat) {
                var infoElement = document.getElementById('robot-info');
                infoElement.innerHTML = 'Robot: ' + robotName + '<br>' + 'Hjerteslag: ' + heartbeat;
            }

            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                locale: 'no',
                height: 'auto',
                events: [
                    {% for mission in missions %}
                    {
                        title: '{{ mission.MissionName }}',
                        start: '{{ mission.Deadline }}'
                    },
                    {% endfor %}
                ],
                dateClick: function(info) {
                    var events = calendar.getEvents().filter(event => {
                        return event.start.toISOString().split('T')[0] === info.dateStr;
                    });

                    var eventList = document.getElementById('eventList');
                    var eventListItems = document.getElementById('eventListItems');
                    eventListItems.innerHTML = '';

                    if (events.length > 0) {
                        var primaryEvent = events[0];
                        var listItem = document.createElement('li');
                        listItem.textContent = primaryEvent.title + ' ' + primaryEvent.start.toTimeString().split(' ')[0];
                        eventListItems.appendChild(listItem);

                        eventList.style.display = 'block';
                    } else {
                        eventList.style.display = 'none';
                    }
                },
                eventClick: function(info) {
                    var events = calendar.getEvents().filter(event => {
                        return event.start.toISOString().split('T')[0] === info.event.start.toISOString().split('T')[0];
                    });

                    var eventList = document.getElementById('eventList');
                    var eventListItems = document.getElementById('eventListItems');
                    eventListItems.innerHTML = '';

                    if (events.length > 0) {
                        events.forEach(event => {
                            var listItem = document.createElement('li');
                            listItem.textContent = event.title + ' ' + event.start.toTimeString().split(' ')[0];
                            eventListItems.appendChild(listItem);
                        });

                        eventList.style.display = 'block';
                    } else {
                        eventList.style.display = 'none';
                    }
                    document.querySelector('#eventList .card-header').textContent = 'Oppdrag med frist ' + info.event.start.toISOString().split('T')[0] + ':';
                },
            });
            calendar.render();
        });
    </script>
</body>
</html>
{% endblock %}
